<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rabbit.dao.RoleDao">

	<sql id="where">
		<where>
			<if test="params.name != null and params.name != ''">
				and t.name like concat('%', #{params.name}, '%')
			</if>
			<if test="params.description != null and params.description != ''">
				and t.description like concat('%', #{params.description}, '%')
			</if>
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from sys_role t
		<include refid="where" />
	</select>


	<select id="listByPage" resultType="com.rabbit.dto.RoleDto">
		select * from sys_role t
		<include refid="where" />
	</select>

	<insert id="saveRolePermission">
		insert into sys_role_permission(roleId, permissionId) values
		<foreach collection="permissionIds" item="permissionId"
			separator=",">
			(#{roleId}, #{permissionId})
		</foreach>
	</insert>

</mapper>