<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rabbit.dao.SysCodeStoreMapper">
    <resultMap id="BaseResultMap" type="com.rabbit.model.SysCodeStore">
        <!--@mbg.generated-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, code
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from sys_code_store
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from sys_code_store
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.rabbit.model.SysCodeStore"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into sys_code_store
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">
                code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">
                #{code,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.rabbit.model.SysCodeStore">
        <!--@mbg.generated-->
        update sys_code_store
        set code = #{code,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

<!--auto generated by MybatisCodeHelper on 2019-06-28-->
    <select id="findByCodeLike" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_code_store
        where code like concat(#{likeCode,jdbcType=VARCHAR},'%')
    </select>

</mapper>