<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rabbit.dao.TStepApiDtoMapper">
    <resultMap id="BaseResultMap" type="com.rabbit.dto.StepApiDto">
        <!--@mbg.generated-->
        <!--@Table t_step_api-->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="testcase_id" jdbcType="BIGINT" property="testcaseId" />
        <result column="source_id" jdbcType="BIGINT" property="sourceId" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="method" jdbcType="VARCHAR" property="method" />
        <result column="domain" jdbcType="VARCHAR" property="domain" />
        <result column="path" jdbcType="VARCHAR" property="path" />
        <result column="api_params" jdbcType="LONGVARCHAR" property="apiParams" typeHandler="com.rabbit.typehandler.ApiParamListTypeHandler" />
        <result column="before_excs" jdbcType="LONGVARCHAR" property="beforeExcs" typeHandler="com.rabbit.typehandler.ActionListTypeHandler" />
        <result column="req_header" jdbcType="LONGVARCHAR" property="reqHeader" typeHandler="com.rabbit.typehandler.HeaderListTypeHandler" />
        <result column="req_query" jdbcType="LONGVARCHAR" property="reqQuery" typeHandler="com.rabbit.typehandler.QueryListTypeHandler" />
        <result column="req_body_data" jdbcType="LONGVARCHAR" property="reqBodyData" typeHandler="com.rabbit.typehandler.BodyDataListTypeHandler" />
        <result column="req_body_json" jdbcType="LONGVARCHAR" property="reqBodyJson" />
        <result column="req_body_type" jdbcType="VARCHAR" property="reqBodyType" />
        <result column="req_extract" jdbcType="LONGVARCHAR" property="reqExtract" typeHandler="com.rabbit.typehandler.ExtractListTypeHandler" />
        <result column="req_assert" jdbcType="LONGVARCHAR" property="reqAssert" typeHandler="com.rabbit.typehandler.AssertListTypeHandler" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <association property="api" column="source_id"
                     select="com.rabbit.dao.TApiMapper.selectByPrimaryKey"></association>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, `type`, testcase_id, source_id, `status`, `method`, `domain`, `path`,
        api_params, before_excs, req_header, req_query, req_body_data, req_body_json, req_body_type,
        req_extract, req_assert, create_by, create_time, update_by, update_time, sort
    </sql>
    <!--auto generated by MybatisCodeHelper on 2020-02-17-->
    <select id="findDtoByTestcaseId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_step_api
        where testcase_id=#{testcaseId,jdbcType=BIGINT}
        order by sort
    </select>
</mapper>